<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore SoloTraveler.org's hosted tools to make your solo adventures stress-free and enjoyable. Try our Time Zone Converter and Packing Tool now!">
  <title>{{ page.title | default: 'SoloTraveler.org Hosted Tools' }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
  {% include navbar.html %}
  <main class="container mx-auto px-4 py-8">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
